@keyframes gradient {
  0% {
    background-position: bottom;
  }

  100% {
    background-position: top;
  }
}

.video-hero-container {
  position: fixed;
  min-height: calc(65vh + 72px);
  max-height: calc(65vh + 72px);
  z-index: -999;
  .loading-placeholder {
    position: absolute;
    top: 24px;
    min-height: calc(65vh + 100px);
    min-height: calc(65vh + 100px);
    width: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 1) 13%,
      rgba(131, 255, 97, 1) 19%,
      rgba(131, 255, 97, 1) 28%,
      rgba(81, 238, 255, 1) 51%,
      rgba(255, 255, 255, 1) 81%,
      rgba(255, 255, 255, 1) 100%
    );
    box-shadow: inset 0px 0px 50px 50px #ffffff;
    background-size: 400% 800%;
    animation: gradient 5s ease infinite;
    transition: all 1s;
    transition-delay: 1.5s;
    opacity: 1;
    &::after {
      position: relative;
      padding-top: calc(65vh + 72px);
      width: calc(100% - 48px);
      height: calc(65vh + 72px);
      min-height: calc(65vh + 72px);
      max-height: calc(65vh + 72px);
      top: 100px;
      overflow: hidden;

      display: flex;
      align-items: center;
      transition: all 0.3s;
      border-radius: 24px;
      box-sizing: border-box;
      margin: 0 24px 100px 24px;
    }
  }
  .loaded {
    opacity: 0;
  }
}
.wall {
  top: 25px;
  width: 100%;
  height: calc(80vh + 72px);
  min-height: calc(80vh + 72px);
  max-height: calc(80vh + 72px);
  .title-row {
    margin-left: 48px;
    position: absolute;
    height: fit-content;
    margin-top: 100px;
    background-color: #ffffff50;
    padding: 32px;
    border-radius: 32px;
    height: fit-content;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
